[Unit]
Description=Keycloak Identity Provider
After=network.target slapd.service
Wants=slapd.service

[Service]
Type=simple
User=keycloak
Group=keycloak
Environment=KC_BOOTSTRAP_ADMIN_USERNAME=admin
Environment=KC_BOOTSTRAP_ADMIN_PASSWORD=admin
ExecStart=/opt/keycloak/bin/kc.sh start-dev --import-realm
ExecStop=/opt/keycloak/bin/kc.sh stop
WorkingDirectory=/opt/keycloak
Restart=on-failure
RestartSec=15
StandardOutput=journal
StandardError=journal
SyslogIdentifier=keycloak

[Install]
WantedBy=multi-user.target
