<?xml version="1.0" encoding="utf-8"?>
<zone>
  <short>Internal Bastion</short>
  <source address="192.168.56.0/24"/>
  <service name="ssh"/>
  <service name="nfs"/>
  <service name="rpc-bind"/>
  <service name="mountd"/>
</zone>
