[Unit]
Description=SecOS IdP (OpenLDAP + Keycloak)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10
WorkingDirectory=/opt/secos/idp
ExecStartPre=-/usr/bin/podman-compose -f /opt/secos/idp/compose.yml down
ExecStart=/usr/bin/podman-compose -f /opt/secos/idp/compose.yml up
ExecStop=/usr/bin/podman-compose -f /opt/secos/idp/compose.yml down
TimeoutStartSec=600
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
