UsePAM yes
PasswordAuthentication no
PubkeyAuthentication no
KbdInteractiveAuthentication yes
AuthenticationMethods keyboard-interactive

Match User vagrant
    PasswordAuthentication yes
    AuthenticationMethods password
