<?xml version="1.0" encoding="utf-8"?>
<zone>
  <short>Public</short>
  <rule family="ipv4">
    <source address="{{ secos_hypervisor_ip }}/32"/>
    <port port="22" protocol="tcp"/>
    <accept/>
  </rule>
  <rule family="ipv4">
    <source address="{{ secos_lb_ip }}/32"/>
    <port port="22" protocol="tcp"/>
    <accept/>
  </rule>
</zone>
