client-id="bastion-ssh"
client-secret="{{ vault_keycloak_client_secret }}"
redirect-url="urn:ietf:wg:oauth:2.0:oob"
scope="pam_roles"
vpn-user-role="bastion-pam-authentication"
endpoint-auth-url="http://{{ secos_idp_ip }}:8080/realms/bastion/protocol/openid-connect/auth"
endpoint-token-url="http://{{ secos_idp_ip }}:8080/realms/bastion/protocol/openid-connect/token"
username-format="%s"
access-token-signing-method="RS256"
xor-key="scmi"
otp-only=false
