global
    log /dev/log local0
    chroot /var/lib/haproxy
    stats socket /var/lib/haproxy/stats
    user haproxy
    group haproxy
    daemon

defaults
    mode tcp
    log global
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend ssh_front
    bind {{ secos_lb_ip }}:22
    default_backend ssh_bastions

backend ssh_bastions
    balance roundrobin
{% for host in groups['bastions'] %}
    server {{ host }} {{ hostvars[host].ansible_host }}:22 check
{% endfor %}
