## bastion nodes — pam-keycloak-oidc, autofs, NFS client
-w /opt/pam-keycloak-oidc/pam-keycloak-oidc.tml -p wa -k pam_oidc_cfg
-w /opt/pam-keycloak-oidc/pam-keycloak-oidc     -p wa -k pam_oidc_bin
-w /etc/auto.home       -p wa -k autofs_cfg
-w /etc/auto.master.d/  -p wa -k autofs_cfg
